@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.bg-custom-bg {
  background-color: rgb(18 18 18);
}

.custom-border-color-selected {
  border-color: rgb(136 136 136);
}

.custom-border-color-unselected {
  border-color: rgb(68 68 68);
}

.text-unselected {
  color: rgb(68 68 68);
}
